<ion-item>
	<ion-icon name="md-person" item-left></ion-icon>
	<ion-input type="text" placeholder="请输入用户名/手机号/邮箱" [(ngModel)]="data.username"></ion-input>
</ion-item>

<ion-item>
	<ion-icon name="md-lock" item-left></ion-icon>
	<ion-input type="password" placeholder="请输入密码" [(ngModel)]="data.password"></ion-input>
</ion-item>

<ion-row>
	<ion-col padding text-left tappable 
	(click)="onEvent('onRegister', item)">
		注册
	</ion-col>

	<ion-col padding text-right tappable 
	(click)="onEvent('onForget', item)">
		忘记密码
	</ion-col>
</ion-row>

<button ion-button full (click)="onEvent('onLogin', item)">登  录</button>