<ion-header>
  <ion-navbar color="dark">
    <ion-searchbar 
    [(ngModel)]="searchVo.keyWord" 
    placeholder="请输入科技关键词"></ion-searchbar>
    <!-- <ion-input
      placeholder="请输入科技关键词 多个词用空格隔开"
      [(ngModel)]="searchVo.keyWord"
      type="text"
      [clearInput]="true"
    ></ion-input> -->
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="search()">
        <ion-icon name="md-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <ion-toolbar no-border-top color="dark" [hidden]="!isSearch">
    <ion-segment [(ngModel)]="pet" color="whites" [hidden]="!isSearch">
        <ion-segment-button value="1" (ionSelect)="selectPage(1)">
          论文
        </ion-segment-button>
        <ion-segment-button value="2" (ionSelect)="selectPage(2)">
          项目
        </ion-segment-button>
        <ion-segment-button value="3" (ionSelect)="selectPage(3)">
          专利
        </ion-segment-button>
        <ion-segment-button value="4" (ionSelect)="selectPage(4)">
          全部
        </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-row class="navbar" text-center [hidden]="!isContains">
    <ion-col tappable (click)="openChart1()">
      <img src="assets/img/l1.png"><br>
      相关机构
    </ion-col><!-- 相关机构 -->
    <ion-col tappable (click)="openChart2()">
      <img src="assets/img/l2.png"><br>
       相关学者
    </ion-col><!-- 相关学者 -->
    <ion-col tappable (click)="openChart3()">
      <img src="assets/img/l3.png"><br>
      研究走势
    </ion-col><!-- 研究走势 -->
  </ion-row>

  <background [hidden]="isSearch" [data]="params.img"></background>

  <div class="lixiang" [hidden]="!isSearch">
    <smart-search-1
      *ngIf="params.istype==1"
      [data]="params.data1" 
      [events]="params.events">
    </smart-search-1>

    <smart-search-2
      *ngIf="params.istype==2"
      [data]="params.data2" 
      [events]="params.events">
    </smart-search-2>

    <smart-search-3
      *ngIf="params.istype==3"
      [data]="params.data3" 
      [events]="params.events">
    </smart-search-3>

    <smart-search-4
      *ngIf="params.istype==4"
      [data]="params.data4" 
      [events]="params.events">
    </smart-search-4>
<!-- 
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  </div>

  
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
  
</ion-content>

