page-lixiang {
	.toolbar-md {
	    min-height: 57px;
	}
	ion-input{
		margin-left: 10px;
		height: 40px;
		width: 96%;
		color: #fff;
		background: #3e4a51;
	}
	$text-input-placeholder-color: #fff;
	.content {
		.toolbar-md {
		    // margin-top: 56px;
		    position: fixed;
		}
	}
	.navbar{
		img{
			height: 50px;
			width: 50px;
		}
		.col{
			// color: #fff;
   //  		border: 1px solid #d0d0d0;
   			// color: color($colors, toptab);
   			// border: 1px solid color($colors, toptab);
		}
		ion-row[text-center]{
			.col:first-child{
				border-right: 0;
			}
			.col:last-child{
				border-left: 0;
			}
		}
	}
	.lixiang{
		padding-top: 55px;
		.col:first-child{
			margin-right: 50%;
		}
		.col:last-child{
			display: none;
		}
	}
}
