page-lixiang {
	.back-button-md {
		width: 20px;
		font-size: 1.2rem;
        margin: 0px;
        min-width: 15px;
	   
	}
	.toolbar-md {
	    min-height: 57px;
	}
	.searchbar-md .searchbar-search-icon{
		display: none;
	}
	.searchbar-md .searchbar-input {
		padding: 6px 5px;
		background-color: #3e4a51;
		color: #fff;
	}
	ion-input{
		margin-left: 10px;
		height: 40px;
		width: 96%;
		color: #fff;
		background: #3e4a51;
	}
	$text-input-placeholder-color: #fff;
	.subheader{
		margin-top: 56px;
	}
	.navbar{
		margin-top: 56px;
		img{
			height: 55px;
			width: 55px;
		}
		ion-row[text-center]{
			.col:first-child{
				border-right: 0;
			}
			.col:last-child{
				border-left: 0;
			}
		}
	}
	.lixiang{
		.col:first-child{
			margin-right: 50%;
		}
		.col:last-child{
			display: none;
		}
	}
}
