page-exact {
	.searchbar-md .searchbar-search-icon{
		display: none;
	}
	.searchbar-md .searchbar-input {
		background-color: #3e4a51;
		color: #fff;
	}
	.searchbar-md .searchbar-input {
	    padding: 6px 5px;
	}
	ion-input{
		margin-left: 10px;
		height: 40px;
		width: 96%;
		color: #fff;
		background: #3e4a51;
	}
	.subheader{
		margin-top: 70px;
	}
	$text-input-placeholder-color: #fff;
}
