<ion-header>
  <ion-navbar color="headers">
    <ion-title text-center>
      关注领域
    </ion-title>
    <ion-buttons end>
      	<button ion-button color="dark">
          	<ion-icon name="ios-settings-outline"></ion-icon>
      	</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content">
	<ion-card style="margin:0;width:100%;">
		<ion-item>
			<ion-label><ion-icon name="ios-add-circle-outline"></ion-icon></ion-label>
			<!-- multiple="true"  -->
		    <ion-select [(ngModel)]="params.professionId" 
		    (ionChange)="addConcern($event)"
		    okText="确认" 
		    cancelText="取消">
		    	<ion-option  
		    		*ngFor="let name of params.dataList" 
		    		[value]="name.professionId" 
		    		>{{name.professionName}}</ion-option>
			</ion-select>
		</ion-item>
	</ion-card>
	
	<ion-list>
		<div *ngFor="let data of params.data">
			<ion-row>
				<ion-col text-center *ngFor="let obj of data">
					{{obj.professionName}}<br>
					<button ion-button round outline small
					[hidden]="obj.professionId==null"
					(click)="delete(obj.professionId)">删除</button>
				</ion-col>
			</ion-row>
		</div>
	</ion-list>
	
</ion-content>	