<ion-header>
  <ion-navbar color="dark">
    <ion-input
      placeholder="请输入科技关键词 多个词用空格隔开"
      [(ngModel)]="searchVo.keyWord"
      type="search"
      [clearInput]="true"
    ></ion-input>
    <ion-buttons end>
      <button ion-button icon-only (click)="search()">
        <ion-icon name="md-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar color="dark" *ngIf="!isSearch">
    <ion-segment [(ngModel)]="pet" color="whites">
      <ion-segment-button value="1" (ionSelect)="selectPage(1)">
        论文
      </ion-segment-button>
      <ion-segment-button value="2" (ionSelect)="selectPage(2)">
        项目
      </ion-segment-button>
      <ion-segment-button value="3" (ionSelect)="selectPage(3)">
        专利
      </ion-segment-button>
      <ion-segment-button value="4" (ionSelect)="selectPage(4)">
        全部
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content>

  <background *ngIf="isSearch"></background>

  <smart-search-1
    *ngIf="params.istype==1"
    [data]="params.data1" 
    [events]="params.events">
  </smart-search-1>

  <smart-search-2
    *ngIf="params.istype==2"
    [data]="params.data2" 
    [events]="params.events">
  </smart-search-2>

  <smart-search-3
    *ngIf="params.istype==3"
    [data]="params.data3" 
    [events]="params.events">
  </smart-search-3>

  <smart-search-4
    *ngIf="params.istype==4"
    [data]="params.data4" 
    [events]="params.events">
  </smart-search-4>
<!-- 
  <search-list
    [hidden]="isSearch" 
    [data]="params.data" 
    [events]="params.events">
  </search-list> -->

</ion-content>

