page-home {
	ion-input{
		margin-left: 10px;
		height: 40px;
		width: 96%;
		color: #fff;
		background: #3e4a51;
	}
	.searchbar-md .searchbar-search-icon{
		display: none;
	}
	.searchbar-md .searchbar-input {
		padding: 6px 5px;
		background-color: #3e4a51;
		color: #fff;
	}
	.content {
		.toolbar-md,.toolbar-ios {
		    position: fixed;
		}
	}
	
}