<div class="tag">
	<ion-row>
	<ion-col>
		
	</ion-col>
	</ion-row>
</div>

<ion-list class="main">
	<ion-row>
	<ion-col width-25>标题</ion-col>
	<ion-col>{{data.name}}</ion-col>
	</ion-row>

	<ion-row>
	<ion-col width-25>公布日期</ion-col>
	<ion-col>{{data.publicationdate}}</ion-col>
	</ion-row>

	<ion-row>
	<ion-col width-25>分类号</ion-col>
	<ion-col>{{data.publicationNo}}</ion-col>
	</ion-row>

	<ion-row>
	<ion-col width-25>主分类号</ion-col>
	<ion-col>{{data.classificationNO}}</ion-col>
	</ion-row>

	<ion-row>
	<ion-col width-25>申请人</ion-col>
	<ion-col>{{data.applicant}}</ion-col>
	</ion-row>

	<ion-row>
	<ion-col width-25>发明人</ion-col>
	<ion-col>
		<span *ngFor="let inv of data.memberWithId;"
		[ngClass]="inv.id==null?'no':''"
		tappabled (click)="onEvent('onExpert', inv)">
			{{inv.name}}
		</span>
		
	</ion-col>
	</ion-row>

	<ion-row>
	<ion-col width-25>地址</ion-col>
	<ion-col>{{data.applicantaddress}}</ion-col>
	</ion-row>
	
	<ion-row>
		<ion-col width-20>摘要</ion-col>
		<ion-col></ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
		<p class="pcontent">
			{{data.abstract}}
		</p>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col width-20>主权项</ion-col>
		<ion-col></ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
		<p class="pcontent">
			{{data.sovereignty}}
		</p>
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col width-50>{{readCount}}人看过</ion-col>
		<ion-col text-right>
			<!-- <button ion-button icon-left clear small (click)="onEvent('onCollect', data.id)">
		        <ion-icon color="primary"
		        	name="{{data?.collection?'ios-heart':'ios-heart-outline'}}"></ion-icon>
		    </button> -->
		</ion-col>
	</ion-row>
</ion-list>


<ion-list class="main">
	<ion-row>
		<ion-col width-40>相关专利</ion-col>
	</ion-row>
	<ion-row  *ngFor="let relate of relateds;">
		<ion-col tappabled (click)="onEvent('onRelate', relate)">
			<p class="pcontent href" text-nowrap>{{relate.name}}</p>
		</ion-col>
	</ion-row>
</ion-list>