<ion-row>
    <ion-col 
      text-left class="result">
      搜索结果：{{data.numFound}} 条 <!-- numFound data.docs -->
    </ion-col>
    <ion-col text-right 
      (click)="onEvent('onModal', item)">
          筛选
        <ion-icon name="ios-arrow-down"></ion-icon>
    </ion-col>
</ion-row>
<ion-item *ngFor="let item of data.docs; let i = index;" (click)="onEvent('onDetail', item)">
    <p class="title" text-nowrap>{{item.name}}</p>
    <p class="tag">发明者  <span>{{item.member}}</span></p>
    <p class="tag">申请者  <span>{{item.unit}}</span></p>
    <p class="source" text-nowrap>公开号 <span>{{item.publication_no}}</span></p>
</ion-item>

<ion-infinite-scroll (ionInfinite)="onEvent('doInfinite', $event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>