// App Global Sass
// --------------------------------------------------
.content{
	background: #f8f8f8;
}
.card-md{
	margin: 0;
	width: 100%;
}

.bar-button-md{
	font-size: 1.8rem;
}

// 优化流程速度
.item.active,

.item.activated,

.item-complex.active .item-content,

.item-complex.activated .item-content,

.item .item-content.active,

.item .item-content.activated {

border-color: #fff;

background-color: #fff;

}