<ion-header>
  <ion-navbar color="dark">
    <ion-title text-center>人才详情</ion-title>
    <ion-buttons end>
      <button ion-button color="dark">
          <ion-icon name="ios-settings-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content">

  <ion-navbar class="navbar">
  		<ion-item color="dark">
  		    <ion-avatar item-left>
  		      <img src="assets/img/header.jpg">
  		    </ion-avatar>
  		    <h2>
              {{params.name}}
              <label>
              <ion-icon color="primary"
                (click)="collect()" name="{{params.data?.collection?'ios-heart':'ios-heart-outline'}}"></ion-icon>
              </label>
              <span tappable (click)="about()">联系他</span>
          </h2>
  		    <p>{{params.unit}}</p>
          <p> </p>
  		</ion-item>
  		
  		<ion-row text-center>
  			<ion-col [hidden]="params.introduction==null" tappable (click)="openChart()">简介</ion-col>
        <ion-col tappable (click)="openChart1()">自我网络</ion-col>
  			<ion-col tappable (click)="openChart2()">综合表征</ion-col>
  		</ion-row>
	    <ion-segment [(ngModel)]="pet" color="primary">
	      <ion-segment-button value="1" tappabled
        *ngIf="showtab.t1"
        (ionSelect)="selectPage(1)">
	        论文
	      </ion-segment-button>

	      <ion-segment-button value="2" tappabled
        *ngIf="showtab.t2"
        (ionSelect)="selectPage(2)">
	        项目
	      </ion-segment-button>

	      <ion-segment-button value="3" tappabled
        *ngIf="showtab.t3"
        (ionSelect)="selectPage(3)">
	        专利
	      </ion-segment-button>
	    </ion-segment>
  </ion-navbar>


  <talent-search-1
    *ngIf="params.istype==1"
    [data]="params.data1" 
    [events]="params.events">
  </talent-search-1>

  <talent-search-2
    *ngIf="params.istype==2"
    [data]="params.data2" 
    [events]="params.events">
  </talent-search-2>

  <talent-search-3
    *ngIf="params.istype==3"
    [data]="params.data3" 
    [events]="params.events">
  </talent-search-3>

</ion-content>
