page-person-detail {
	.toolbar-md {
		padding: 0;
	}
	.navbar{
		.item-md{
			height: 100px;
		}
		.item-md ion-avatar ion-img, .item-md ion-avatar img {
		    width: 60px;
		    height: 60px;
		}
		.item-md.item-block .item-inner {
		    border-bottom: 0px solid #dedede;
		}
		.ion-ios-heart-outline{
			padding-left: 10px;
		}
		span{
			float: right;
			color: color($colors, primary);
			border: 1px solid color($colors, primary);
			padding: 4px 10px;
			font-size: 1.4rem;
		}

		ion-row[text-center]{
			.col:first-child{
				border-right: 0;
			}
			.col:last-child{
				border-left: 0;
			}
		}
	}

	.toolbar-content{
		.row{
			margin: 10px;
		}
		.col{
			border: 1px solid color($colors, dark);
		}
	}

	talent-search-1, talent-search-2, talent-search-3 {
		.row { display: none;}
	}
}
