hed-item {
	.item-md p {
		color: #f8f8f8;	
	}
	.item-md{
		background: color($colors, headers);
     	height: 80px;
	}
	.item-md ion-avatar ion-img, .item-md ion-avatar img {
	    width: 60px;
	    height: 60px;
	}
}
