<ion-item>
	<ion-icon name="md-lock" item-left></ion-icon>
	<ion-input type="text" placeholder="请输入用户名/手机号/邮箱" [(ngModel)]="password"></ion-input>
</ion-item>
<ion-item>
	<ion-icon name="md-lock" item-left></ion-icon>
	<ion-input type="text" placeholder="企业名" [(ngModel)]="password"></ion-input>
</ion-item>
<ion-item>
	<ion-icon name="md-lock" item-left></ion-icon>
	<ion-input type="text" placeholder="手机号" [(ngModel)]="password"></ion-input>
</ion-item>
<div class="send">
	<ion-item>
		<ion-icon name="md-lock" item-left></ion-icon>
		<ion-input type="text" placeholder="短信验证码" [(ngModel)]="password">
		</ion-input>
	</ion-item>
	<button ion-button outline>发送验证码</button>
</div>
<ion-item>
	<ion-icon name="md-lock" item-left></ion-icon>
	<ion-input type="password" placeholder="密码" [(ngModel)]="password"></ion-input>
</ion-item>
<ion-item>
	<ion-icon name="md-lock" item-left></ion-icon>
	<ion-input type="password" placeholder="确认新密码" [(ngModel)]="password"></ion-input>
</ion-item>
<p text-left>
	<input type="checkbox" />
	<span>同意科创助手条款</span>
</p>

<button ion-button round full (click)="register()">注册</button>

<p text-align navPop>
	已有账号, 去登录
</p>