<ion-item>
	<ion-icon name="md-phone-portrait" item-left></ion-icon>
	<ion-input type="text" placeholder="请输入手机号" [(ngModel)]="user.relationManMobilePhone"></ion-input>
</ion-item>
<ion-item>
	<ion-icon name="md-lock" item-left></ion-icon>
	<ion-input type="text" placeholder="企业名" [(ngModel)]="user.enterpriseName"></ion-input>
</ion-item>
<div class="send">
	<ion-item>
		<ion-icon name="md-lock" item-left></ion-icon>
		<ion-input type="text" placeholder="短信验证码" [(ngModel)]="user.relationManMobilePhoneSMS">
		</ion-input>
	</ion-item>
	<button ion-button outline (click)="sendSms()">发送验证码</button>
</div>
<ion-item>
	<ion-icon name="md-person" item-left></ion-icon>
	<ion-input type="text" placeholder="请输入用户名" [(ngModel)]="username"></ion-input>
</ion-item>
<ion-item>
	<ion-icon name="md-lock" item-left></ion-icon>
	<ion-input type="password" placeholder="请输入密码" [(ngModel)]="password"></ion-input>
</ion-item>
<p text-left>
	<input type="checkbox" />
	<span>同意科创助手条款</span>
</p>

<button ion-button round full (click)="register()">注册</button>

<p text-align navPop>
	已有账号, 去登录
</p>
<br>