<ion-header>
  <ion-navbar>
    <ion-title text-center>人才详情</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<!-- 	<talent-detail-1 
	    *ngIf="detailType=='paper'"
	    [data]="params.data" 
	    [keywords]="params.keywords"
	    [relateds]="params.relateds"
	    [readCount]="params.readCount"
	    [events]="params.events">
	</talent-detail-1>

	<talent-detail-2 
	    *ngIf="detailType=='project'"
	    [data]="params.data" 
	    [keywords]="params.keywords"
	    [relateds]="params.relateds"
	    [readCount]="params.readCount"
	    [events]="params.events">
	</talent-detail-2>

	<talent-detail-3 
	    *ngIf="detailType=='patent'"
	    [data]="params.data" 
	    [relateds]="params.relateds"
	    [readCount]="params.readCount"
	    [events]="params.events">
	</talent-detail-3> -->
</ion-content>
