<ion-header>
  <ion-navbar color="headers">
    <ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<smart-detail-1 
    *ngIf="detailType=='paper'"
    [data]="params.data" 
    [keywords]="params.keywords"
    [relateds]="params.relateds"
    [readCount]="params.readCount"
    [events]="params.events">
  </smart-detail-1>

  <smart-detail-2 
    *ngIf="detailType=='project'"
    [data]="params.data" 
    [keywords]="params.keywords"
    [relateds]="params.relateds"
    [readCount]="params.readCount"
    [events]="params.events">
  </smart-detail-2>

  <smart-detail-3 
    *ngIf="detailType=='patent'"
    [data]="params.data" 
    [relateds]="params.relateds"
    [readCount]="params.readCount"
    [events]="params.events">
  </smart-detail-3>

</ion-content>
