/*  #Style Wizard Simple + icon
===========================================*/
wizard{
  p{
    position: fixed;
    padding-left: 20px;
    font-size: 1.4rem;
  }

  .button-md{
    margin-top: -250px;
  }

  .button-outline-md {
      border-color: #fefefe;
      color: #fefefe;
      width: 200px;
  }

}
