
  <ion-row>
    <ion-col 
	    text-left class="result">
	    搜索结果：{{data.total}}
	</ion-col>
	<ion-col></ion-col>
	<!-- <ion-col text-right 
    (click)="presentProfileModal()">
          筛选
        <ion-icon name="ios-arrow-down"></ion-icon>
    </ion-col> -->
  </ion-row>
	
	<ion-item *ngFor="let item of data.list; let i = index;" (click)="onEvent('onDetail', item)">
	    <ion-avatar item-left>
	      <img src="assets/img/header.jpg">
	    </ion-avatar>
	    <h2>{{item.name}}</h2>
	    <p>{{item.unit}}</p>
	</ion-item>