<!-- <div class="tag" [hidden]="keywords[0]==''">
	<ion-row>
	<ion-col>
		<i *ngFor="let keyword of keywords;let i = index;" style="margin-top: 10px;">
		<br *ngIf="i%4==0">
		<span [hidden]="keyword==''">{{keyword}}</span>
		</i>
	</ion-col>
	</ion-row>
</div> -->

<ion-list class="main">
	<ion-row>
	<ion-col width-25>标题</ion-col>
	<ion-col>{{data.name}}</ion-col>
	</ion-row>

	<ion-row [hidden]="keywords[0]==''">
	<ion-col width-25>关键词</ion-col>
	<ion-col>
		<span *ngFor="let keyword of keywords;let i = index;"
			style="color:#2196F3" >{{keyword}}</span>
	</ion-col>
	</ion-row>

	<ion-row>
	<ion-col width-25>成员</ion-col>
	<ion-col>
		<span *ngFor="let inv of data.memberWithId;"
		[ngClass]="inv.id==null?'no':''"
		tappabled (click)="onEvent('onExpert', inv)">
			{{inv.name}}
		</span>
	</ion-col>
	</ion-row>
	<ion-row>
	<ion-col width-25>单位</ion-col>
	<ion-col>{{data.unit}}</ion-col>
	</ion-row>
	<ion-row>
	<ion-col width-25>委托单位</ion-col>
	<ion-col>{{data.entrustunit}}</ion-col>
	</ion-row>
	<ion-row>
	<ion-col width-25>时间</ion-col>
	<ion-col>{{data.starttime}}</ion-col>
	</ion-row>
	<ion-row>
	<ion-col width-25>类型</ion-col>
	<ion-col>{{data.type}}</ion-col>
	</ion-row>
	<ion-row>
	<ion-col width-25>摘要</ion-col>
	<ion-col></ion-col>
	</ion-row>
	<ion-row>
	<ion-col>
	<p class="pcontent selectable">
		{{data.abstractCH}}
	</p>
	</ion-col>
	</ion-row>
	<ion-row>
	<ion-col width-50>{{readCount}}人看过</ion-col>
	<ion-col text-right>
		<!-- <button ion-button icon-left clear small (click)="onEvent('onCollect', data.id)">
	        <ion-icon color="primary" 
	        	name="{{data?.collection?'ios-heart':'ios-heart-outline'}}"></ion-icon>
	    </button> -->
	</ion-col>
	</ion-row>
</ion-list>


<ion-list class="main">
	<ion-row>
	<ion-col width-40>相关项目</ion-col>
	</ion-row>
	<ion-row  *ngFor="let relate of relateds;">
	<ion-col tappabled (click)="onEvent('onRelate', relate)">
	<p class="pcontent href" text-nowrap>{{relate.name}}</p>
	</ion-col>
	</ion-row>
</ion-list>