<ion-list>
    <p padding-left>
      个人信息
    </p>
    <ion-list>
      <ion-item tappable (click)="onEvent('onAccount')" >
        <ion-icon name="ios-arrow-forward" item-right></ion-icon>账号绑定
      </ion-item>
      
      <ion-item tappable (click)="onEvent('onResetPwd')">
        <ion-icon name="ios-arrow-forward" item-right ></ion-icon>修改密码
      </ion-item>
      
    <!--   <ion-item tappable (click)="onEvent('onVip')">
        <ion-icon name="ios-arrow-forward" item-right></ion-icon>会员信息
      </ion-item> -->
    </ion-list>

    <p padding-left>
      认证
    </p>
    <ion-list>
      <ion-item tappable (click)="onEvent('onCompany')">
        <ion-icon name="ios-arrow-forward" item-right></ion-icon>公司认证
      </ion-item>
    </ion-list>

    <p padding-left>
      收藏
    </p>
    <ion-list>
      <ion-item tappable (click)="onEvent('onCollect')">
        <ion-icon name="ios-arrow-forward" item-right></ion-icon>我的收藏
      </ion-item>

      <ion-item tappable (click)="onEvent('onFollow')">
        <ion-icon name="ios-arrow-forward" item-right></ion-icon>我关注的领域
      </ion-item>
    </ion-list>
    
    <div padding>
      <button ion-button full (click)="onEvent('onLogout')">登出</button>
    </div>
    
</ion-list>