<ion-row>
  <ion-col 
    text-left class="result">
    搜索结果：{{data.total}}
</ion-col>
<ion-col></ion-col>
</ion-row>
<ion-list>
<ion-item *ngFor="let item of data.list; let i = index;" tappable (click)="onEvent('onDetail', item)">
    <p class="title">{{item.name}}</p>
    <p class="tag">发明者 <span>{{item.inventor}}</span></p>
<!--     <p class="tag">发明者  
    	<span *ngFor="let inventor of item.memberWithId;" tappable (click)="onEvent('onInventor', inventor)">{{inventor.name}}</span>
    </p> -->
    <p class="tag">申请者  <span>{{item.applicant}}</span></p>
</ion-item>
</ion-list>
<!-- <ion-infinite-scroll (ionInfinite)="onEvent('doInfinite', $event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll> -->

